<%
  if params[:project_id]
    project = Project.find(params[:project_id])
    url = [:admin, project, swatch]
  else
    url = [:admin, swatch]
  end
%>

<%= form_with(model: url) do |form| %>
  <% if swatch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(swatch.errors.count, "error") %> prohibited this swatch from being saved:</h2>

      <ul>
        <% swatch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <% unless params[:project_id] && action_name == 'new' %>
    <div>
      <%= form.label :project_id, style: "display: block" %>
      <%#= form.text_field :project_id %>
      <%= form.collection_select :project_id, current_user.projects.order(:name), :id, :name, include_blank: true %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
