<p style="color: green"><%= notice %></p>

<%= render @swatch %>

<% if can? :manage, @swatch %>
  <div>
    <%= link_to "Edit this swatch", edit_swatch_path(@swatch) %> |
    <%= link_to "Destroy this swatch", @swatch, data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<%= render @swatch.comments %>