<%= form_with(model: [:admin, color]) do |form| %>
  <% if color.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
        <% color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :stop, style: "display: block" %>
    <%= form.number_field :stop %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color %>
  </div>

  <div>
    <%= form.label :alpha, style: "display: block" %>
    <%= form.number_field :alpha %>
  </div>

  <div>
    <%= form.label :fill_id, style: "display: block" %>
    <%= form.text_field :fill_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
