<nav class="S_MenuBar">
  <%= link_to "Главная", root_url %>
  <%= link_to "Проекты", projects_url %>
  <%= link_to "Цветовые наборы", swatches_url %>
  <%= link_to "Заливки", fills_url %>
  <%#= link_to "Цвета", colors_url %>
  <%= link_to "О проекте", welcome_about_url %>
</nav>